.sampleEx {
  h2 {
    font-family: "Josefin Sans";
    font-weight: 400;
    margin-top: 40px;
    margin-left: 50px;
    text-decoration: underline;
    text-decoration-color: goldenrod;
    text-underline-offset: 10px;
  }
  .sampleExContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
