.excersises {
  display: flex;
  margin-top: 30px;
  justify-content: center;
  flex-wrap: wrap;
  h2 {
    font-family: "Varela Round";
    letter-spacing: 3px;
  }
  .inputContainer {
    margin-top: 30px;
    flex-basis: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    .inputEx {
      width: 30%;
      height: 25px;
      text-align: center;
    }
  }

  .searchMainCat {
    display: flex;
    justify-content: space-between;
    flex-basis: 60%;

    .button {
      font-size: 14px;
      text-transform: uppercase;
      text-align: center;
      padding: 10px;
      width: 150px;
      margin: 5px;
      border: 1px solid black;
      border-radius: 4px;
      letter-spacing: 2px;
      font-family: "Josefin Sans";
      cursor: pointer;
      background-color: white;
    }
  }

  .exContainer {
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
