<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="/stylesheets/style.css" /> -->
    <title>Hasło zmienione</title>
    <style>
      .passwordChangedP {
        font-family: "Lora";
      }
    </style>
  </head>
  <body>
    <div class="passwordChangedWrapper">
      <img class="passwordChangedImg" src="/images/reset-password.png" alt="" />
      <p class="passwordChangedP">
        Hasło dla użytkownika o mailu:<span class="emailSpan"> <%=email%></span>
        zostało zmienione, możesz się
        <a href="http://localhost:3000/login"
          ><span class="linkSpan">zalogować.</span></a
        >
      </p>
    </div>
  </body>
</html>
