<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Zmiana hasła</title>
  </head>
  <body>
    <div class="resetPassword">
      <h1>Reset hasła dla:</h1>
      <h2><%= email%></h2>
      <form class="resetForm" action="" method="POST">
        <label>Podaj nowe hasło:</label>
        <input
          name="password"
          class="resetInput"
          type="password"
          placeholder="Wpisz nowe hasło.."
        />
        <label>Powtórz nowe hasło:</label>
        <input
          class="resetInput"
          type="password"
          placeholder="Powtórz hasło.."
        />
        <button class="resetButton">Reset</button>
      </form>
    </div>
  </body>
</html>
