.resetPassword {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Lora";
  font-weight: 600;
  z-index: 3;
}

.resetForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  border: 2px solid #2171e1;
  padding: 20px;
  background-color: #e5eded;
}

.resetForm > label {
  margin: 10px 0;
}

.resetInput {
  padding: 10px;
  background-color: white;
  border: none;
  border-radius: 10px;
  font-family: "Varela Round";
}

.resetInput:focus {
  outline: none;
}

.resetButton {
  margin-top: 20px;
  cursor: pointer;
  background-color: #2171e1;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
  text-align: center;
}

.linkSent {
  color: #2171e1;
  margin-top: 20px;
}
